@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1F1F1F;
  --foreground: #F9F9F9;

  /* similar to tailwind indigo-400 */
  --secondary: #818cf8;
  /* soft contrast */
  --secondary-soft: #ac9cdb;
  /* high contrast with above indigo */
  --secondary-contrast: #B8860B;
  /* lighter version */
  --secondary-light: #b3bafe;
  
  --text-secondary: #C2C2C2;
  --text-tertiary: #919191;

  --light-sun: #ffd479;
}

::selection {
  background-color: var(--secondary);
  color: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1F1F;
    --foreground: #F9F9F9;
  }
} */

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  font-family: var(--font-geist-sans);
}
