@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* similar to tailwind indigo-400 */
  --secondary: #818cf8;
  /* soft contrast */
  --secondary-soft: #ac9cdb;
  /* high contrast with indigo */
  --secondary-contrast: #d0b208;

  --text-secondary: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1F1F;
    --foreground: #F9F9F9;
    --text-secondary: #C2C2C2;
  }

  ::selection {
    background-color: var(--secondary);
    color: var(--foreground);
  }
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
